<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <form method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="writer" name="writer">
        <input type="text" placeholder="location" name="location">
        <input type="text" placeholder="category" name="category">
        <button type="submit">Submit</button>
    </form>
    <br><br>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Writer</th>
            <th>Location</th>
            <th>Category</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th colspan="2">Action</th>
        </tr>
        <% for(var i=0; i<result.length; i++) {%>
        <tr>
            <td><%= result[i].name %></td>
            <td><%= result[i].writer %></td>
            <td><%= result[i].location %></td>
            <td><%= result[i].category %></td>
            <td><%= result[i].created_at %></td>
            <td><%= result[i].updated_at %></td>
            <td>
                <button onclick="deleteContact(<%= result[i].id %>)">Delete</button>
            </td>
            <td><a href="http://localhost:3020/update_view/<%= result[i].id %>"><button>Update</button></a></td>
        </tr>
        <% } %>

    </table>
    <script src="main.js"></script>
</body>

</html>