<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <form method="post" action="http://localhost:3020/update/28">
        <input type="hidden" name="_method" value="patch"/>
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="writer" name="writer">
        <input type="text" placeholder="location" name="location">
        <input type="text" placeholder="category" name="category">
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <script src="main.js"></script>
</body>

</html>